.header {
    display: flex;
    justify-content: space-between;
    background-color: #202A36;
    color: #D7DFDF;
}

.logo {
    padding-left: 10px;
    width: 110px;
}

.nav-items {
    padding: 0px 50px;
}

.nav-items ul {
    display: flex;

}

.nav-items ul li {
    padding: 15px;
    list-style-type: none;
    font-size: 19px;
    margin-top: 9px;
}

.nav-items ul li:hover {
    color: #F85547;

}

.login-btn button {
    border: 0px;
    width: 65px;
    height: 28px;
    background-color: #F85547;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.logout-btn button {
    border: 0px;
    width: 65px;
    height: 28px;
    background-color: #00ff15;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}


/* Body CSS */
.restaurant-list {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px auto;
}

.card {
    width: 280px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;

}

.card:hover {
    transform: scale(1.05);
}


.card:hover img {
    transform: scale(1.1);
}

.card>img {
    width: 100%;
    border-radius: 10px;

}

.card>span {
    display: flex;
    justify-content: space-evenly;
}

.card>span>h4 {
    text-align: center;

}

.card>span>h4:first-child {
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card>span>h4:first-child .fa-star {
    font-size: small;
    padding: 0 5px 3px 0;
}


/* footer CSS */
.footer {
    margin: 10px;
    width: auto;
    text-align: center;
    background-color: #202A36;
    padding: 20px 10px 20px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: #D7DFDF;
}



.footer>strong {
    padding-left: 5px;
}

.footer>strong>span {
    color: rgb(203, 54, 0)
}

.linkedin {
    color: #76eded;
    text-decoration: none;
}

.options {
    width: 100%;
    gap: 250px;
    background-color: #2F3C7E;
    display: flex;

}


.custom-selecfilter select {
    margin: 15px;
    margin-left: 25px;
    height: 22px;
    width: 326px;
    background-color: #FBEAEB;
    color: #2F3C7E;
    font-size: 14px;
    font-weight: 550;
    border: 0px;
    border-radius: 4px;
}

.search input {
    margin: 15px;
    margin-left: 25px;
    height: 22px;
    width: 326px;
    background-color: #FBEAEB;
    color: #2F3C7E;
    font-size: 14px;
    font-weight: 550;
    border: 0px;
    border-radius: 4px;
}

.search input::placeholder {

    background-color: #FBEAEB;
    color: #2F3C7E;

}

.search .search-btn {
    border: 0px;
    width: 65px;
    height: 24px;
    background-color: #F85547;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
}

/* shimmer styles */
/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
    width: 60%;
    margin-top: 10px;
}

.shimmer-tags {
    width: 80%;
    margin-top: 4px;
}

.shimmer-details {
    width: 100%;
    margin-top: 18px;
}

.shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 15px;
    background: #777;
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}

/* Search error css */
.search-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #2F3C7E;
    font-size: 35px;
    font-weight: 600;
    flex-direction: column;
}

.search-error h3 {
    margin-bottom: 30px;
}

.search-error h5 {
    color: #7e452f;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    margin-left: 20px;
}

.search-error p {
    color: red;
    font-size: 26px;
    font-weight: 600;
    margin: 10px;
    margin-left: 30px;
}